<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VideoTube Backend Project</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet" />
</head>

<body>
  <header>
    <h1>VideoTube Backend Project</h1>
  </header>
  <main>
    <div id="readme-content">
      <%- readmeContent %>
    </div>
  </main>
  <footer>
    <p>&copy; 2024 VideoTube Backend Project</p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-javascript.min.js"></script>
</body>

</html>